<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <!-- IE Compatibility Meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" href="css/hover.css" type="text/css" />
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="css/rtl.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/all.min.css" type="text/css" />
        <!--[if lt IE 9] -->
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <!--[endif]-->
    </head>
    <body>
        <!-- Start NavBar -->
            <nav class="navbar navbar-inverse">
                <img class="hidden-sm img-responsive logo" src="img/life_maker.jpg" />
                  <div class="container-fluid">
                      
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Life Makers</a>
                    </div>
                      
                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Who Are We ? <i class="fas fa-user-friends"></i><span class="sr-only">(current)</span></a></li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                          
                            <li class="call"><a href="#">Call US ? <i class="fas fa-phone-square"></i></a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle up" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Control Center <span class="caret "><i class="fab fa-windows hidden-xs"></i></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="AddVolunteer/AddVolunteer.html" target="_blank" ><i class="fas fa-user-plus"></i> &nbsp; Add Volunteer</a></li>
                                <li><a href="IdName/ID.html" target="_blank"><i class="far fa-trash-alt"></i> &nbsp; Remove Volunteer</a></li>
                                <li><a href="IdName/ID_Get.html" target="_blank"><i class="far fa-address-card"></i> &nbsp; Get All Volunteer</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="IdName/ID_U.html" target="_blank"><i class="fas fa-user-edit"></i> &nbsp; UpDate Volunteer </a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                    <!-- /.navbar-collapse -->
                  </div>
                <!-- /.container-fluid -->
            </nav>
        <!-- End NavBar -->
        <!-- Start Carousel -->
        <div class="caro-life">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/FB_IMG_15810644834233550.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                    . لا تبصق في البئر فقد تشرب منه يوما
                  </div>
                  <div class="carousel-caption visible-xs">
                    Life Makers
                  </div>
                </div>
                  
                <div class="item">
                  <img src="img/FB_IMG_15810645644825615.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                   . الضمير صوت هادئ. يخبرك بأن احدا ينظر اليك
                  </div>
                  <div class="carousel-caption visible-xs">
                    Life Makers
                  </div>
                </div>
                  
                <div class="item">
                  <img src="img/FB_IMG_15810644185582956.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                     . ليس العار في أن نسقط.. ولكن العار أنك لا نستطيع النهوض
                  </div>
                  <div class="carousel-caption visible-xs">
                    Life Makers
                  </div>
                    
                </div>
                  
                <div class="item">
                  <img src="img/FB_IMG_15810644237246555.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                     . التجربه التي لا تفيدك بضاعة فاسده
                  </div>
                 <div class="carousel-caption visible-xs">
                    Life Makers
                  </div>
                    
                </div>
                  
                <div class="item">
                  <img src="img/G1.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                     . تقدم للامام ولو بساق مكسوره
                  </div>
                  <div class="carousel-caption visible-xs">
                     Life Makers
                   </div>
                </div>
                  
                <div class="item">
                  <img src="img/FB_IMG_15810644788114730.jpg" alt="Life Makers">
                  <div class="carousel-caption hidden-xs">
                    . الإنسان دون إيمان وحش في قطيع لا يرحم
                  </div>
                  <div class="carousel-caption visible-xs">
                    Life Makers
                  </div>
                </div>
                
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
        <!-- End Carousel -->
        <!-- Start thumbnails -->
        <div class="col-xs-6 col-md-3 thumbnail un-ramadan">
                  <img src="img/FB_IMG_15810644665664290.jpg" alt="Uncle Ramadan" title="Uncle Ramadan">
            </div>
        <!-- End thumbnails -->
        <!-- Start Section 1-->
        <section>
            <div class="section1">
                <div class="back">
                    <div class="container">
                        <div class="row">
                            
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div>
                                        <aside>
                                            <img src="img/lifemaker2.JPG" alt="Life Maker" title="Life Maker" />
                                        </aside>
                                        <p class="head">What is Life Maker?</p>
                                        <p class="para">مؤسسة صناع الحياة مصر (LMF) هي مؤسسة أهلية وطنية غير حكومية
                                            وغير هادفة للربح أسست عام 2011 ومسجلة مركزيا برقم قيد 839 ل
                                            سنة 2018 وتعمل طبقا لقانون الجمعيات والمؤسسات الأهلية المصري</p>
                                        <button type="button" class="btn btn-success">Learn More <i class="fab fa-leanpub"></i></button>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div>
                                        <aside>
                                            <img src="img/life_maker2.jpg" alt="Life Maker" title="Life Maker" />
                                        </aside>
                                        <p class="head">impact of life makers?</p>
                                        <p class="para">خلال عام 2018 أطلقنا “مؤسسة صناع الحياة” 9 مشروعات -نفذنا بعضهم بدعم شركائنا- إضافة إلى عددٍ كبيرٍ من الحملات والأنشطة والفعاليات في شتى المجالات.
استفاد من هذه المشروعات أكثر من 37 ألف شخص ، بمشاركة 1570 متطوعًا.</p>
                                        <button type="button" class="btn btn-danger">Learn More <i class="fab fa-leanpub"></i></button>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div>
                                        <aside>
                                            <img src="img/lifemaker.jpg" alt="Life Maker" title="Life Maker" />
                                        </aside>
                                        <p class="head">Spread Of Life Maker?</p>
                                        <p class="para">نعمل في مختلف مجالات التنمية، وننفذ مشروعاتنا في كافة محافظات مصر عن طريق مكاتبنا أو من خلال الجمعيات المتعاونة.
                                             لدينا 11 مكتبًا و22 جمعية توزيعهم الجغرافي ونعمل علي فتح اكثر من فرع في اماكن كثيره
                                        </p>
                                        <button type="button" class="btn btn-info">Learn More <i class="fab fa-leanpub"></i></button>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div>
                                        <aside>
                                            <img src="img/lifemaker1.JPG" alt="Life Maker" title="Life Maker" />
                                        </aside>
                                        <p class="head">Life Makers message?</p>
                                        <p class="para">نكتشف ونطور إمكانيات قادة مجتمعيين متميزين من خلال دعم ودمج وتأهيل الشباب في مجالات التنمية بالتعاون مع شراكات فاعلة في ريف وحضر وصحراء مصر. والقضاء علي الفشل والبطاله وقديم مجتمع متقدم </p>
                                        <button type="button" class="btn btn-warning">Learn More <i class="fab fa-leanpub"></i></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 1-->
        <!-- Start Section 2-->
        <section class="section2 text-center">
            <div class="container">
                <p class="head">من نحن؟</p>
                <p class="lead">مؤسسة صناع الحياة مصر (LMF) هي مؤسسة أهلية وطنية غير حكومية
                    وغير هادفة للربح أسست عام 2011 ومسجلة مركزيا برقم قيد 839 لسنة 2018 وتعمل طبقا لقانون الجمعيات والمؤسسات الأهلية المصري.
                </p>
            </div>
        </section>
        <!-- End Section 2-->
        <!-- Start Carousel Charcter -->
        <div class="charcter text-center">
            <div id="carousel-Charcter" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-Charcter" data-slide-to="0" class="active">
                    <img src="img/charcter/charcter1.txt" class="img-responsive">
                </li>
                <li data-target="#carousel-Charcter" data-slide-to="1">
                    <img src="img/charcter/charcter2.gif" class="img-responsive">
                </li>
                <li data-target="#carousel-Charcter" data-slide-to="2">
                    <img src="img/charcter/charcter3.gif" class="img-responsive">
                </li>
                <li data-target="#carousel-Charcter" data-slide-to="3">
                    <img src="img/charcter/charcter4.jpg" class="img-responsive">
                </li>ٍ
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                  
                <div class="item active">
                    <div class="char">
                        «صنّاع الأمل» في وطننا العربي هم صناع الحضارة والمستقبل
                    </div>
                    <div class="charname">
                        محمد بن راشد
                    </div>
                </div>
                  
                <div class="item">
                  <div class="char">
                        صناع الحياة نقلة مهمة يحتاجها المجتمع
                  </div>
                  <div class="charname">
                        د. المسيري
                  </div>
                </div>
                  
                <div class="item">
                  <div class="char">
                        سأجسد شخصيات وحكايات «صناع الأمل»
                  </div>
                  <div class="charname">
                        أحمد حلمي
                    </div>
                </div>
                  
                <div class="item">
                  <div class="char">
                        جمعية صناع الحياة أمل المصريين نحو الحياة
                  </div>
                  <div class="charname">
                        د. محمد احمد
                  </div>
                </div>
                  ٍ
              </div>
            </div>
        </div>
        <!-- End Carousel Charcter-->
        <!-- Start section 3 -->
        <section class="section3 text-center">
            <img class="img-responsive" src="img/donate.png" title="Donate" alt="Donate" />
        </section>
        <!-- End section 3-->
        <!-- Start feature -->
        <section class="feature text-center">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img class="img-responsive" src="img/feature/f1.jpg" title="outgrowth" alt="outgrowth" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img class="img-responsive" src="img/feature/f2.jpg" title="outgrowth" alt="outgrowth" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img class="img-responsive" src="img/feature/f3.jpg" title="outgrowth" alt="outgrowth" />
                    </div>
                </div>
            </div>
        </section>
        <!--  End feature -->
        <!-- Start section 4 -->
        <section class="message text-center">
            <div class="row">
                    <img src="img/message1.png" class="img-responsive one hidden-md hidden-sm hidden-xs" title="Message" alt="Message" />
                    <img src="img/message.jpg" class="img-responsive two" title="Message" alt="Message" />
                </div>
        </section>
        <!-- End section 4-->
        <!-- Start Section achievements -->
        <section class="achieve">
            <div class="container text-center">
                <p class="head">Achievements 2018</p>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png" title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"><i class="fas fa-circle"></i> 2110 مستفيدين من مشروعات تحسين سبل المعيشة والقضاء على الفقر “مشروع رزق حلال ،مركب واحدة و عيشة وهوية”.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> تدريب على ريادة الأعمال و إدارة المشروعات.</p>
                    </div>
                    <div id="i" class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png"  title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"><i class="fas fa-circle"></i> “مشروع صحة أطفالنا” 22 جهاز كبسولة ١١ أجهزة تنفس صناعي “سباب” 12 جهاز سرنجة محاليل.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> حملة توعية صحية 20 ألف طفل من الإصابة بالأمراض المهددة بالحياة.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> توعية 10000 شاب ضد الإدمان وتشجيع 100 على العلاج</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> حملة شريان الحياة تشجيع 1879 على التبرع بالدم</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> مسح و تحليل للكشف على الإصابة بفيروس سي 74 ألف مواطن.</p>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png" title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"><i class="fas fa-circle"></i> ترميم 8 منازل و بناء 40 سقفًا</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> سداد ديون بقيمة 22500 جنيه مصري.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png" title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"><i class="fas fa-circle"></i> “مشروع دفا” توزيع 3542 جاكت 4354 بطانية و336 سقفًا.</p>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png"  title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"><i class="fas fa-circle"></i> تطوير 13 مدرسة بمراحل تعليمية مختلفة ومدرسة النور والأمل بالتعاون مع سامسونج.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> تطوير حضانة و مركزين تعليميين للأطفال السوريين بالتعاون مع بلان.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> مشروع نماء مع بلان رحلة كيدزانيا ل200 طفل مصري وسوري .</p>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <img src="img/achievements/achieve1.png" title="achievement 2018" alt="achievement 2018"/>
                        <p class="lead dot"> <i class="fas fa-circle"></i> توعية 50000 شخص بأهمية
                        الحفاظ على البيئة والمشاركة
                        في حملات التنظيف.</p>
                        <p class="lead dot"><i class="fas fa-circle"></i> تركيب مزارع نبايتية ل 75
                            سطحًا منزليًا “عيشة وهوية”.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section achievements -->
        <!-- Start Section Projects -->
        <section class="projects text-center">
            <div class="container">
                <div class="row">
                    <h1 class="head"><i class="fab fa-r-project"></i> مشروعاتنا</h1>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="main">
                            <img src="img/projects/p1.png" class="img-responsive" title="مشروع عيشة وهوية" alt="مشروع عيشة وهوية" />
                            <h1 class="text-primary">مشروع عيشة وهوية</h1>
                            <p class="lead p1">شاركنا في تطوير وتجميل منطفتي كفر العلو وعرب راشد في حلوان، وبمواجهة ظاهرة العشوائيات وتكدس القمامة.
                                زرعنا 2500 شجرة، وجملنا وجهات المنازل بـ 30 لوحة جرافيتي.
                                استفاد من هذا المشروع أكثر من 50 ألف شخص.</p>
                            <button type="button" class="btn btn-primary hvr-bounce-to-right"> <i class="far fa-newspaper"></i> Detailes</button>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="main">
                            <img src="img/projects/p2.png" class="img-responsive" title="مشروع تطوير مدرسة النور والأمل" alt="مشروع تطوير مدرسة النور والأمل" />
                            <h1 class="text-primary">مشروع تطوير مدرسة النور والأمل</h1>
                            <p class="lead">طورنا مدرسة النور والأمل للمكفوفين في بني سويف تطويرًا يشمل أعمال البنية التحتية وتوفير احتياجات المدرسة اللوجستية والأدوات التعليمية للمكفوفين.
                                        رفعنا كفاءة المعلمين وقدمنا جلسات دعم نفسي للطلاب وأولياء الأمور.</p>
                            <button type="button" class="btn btn-primary hvr-bounce-to-right"> <i class="far fa-newspaper"></i> Detailes</button>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="main">
                            <img src="img/projects/p3.png" class="img-responsive" title="مشروع مركب واحدة" alt="مشروع مركب واحدة" />
                            <h1 class="text-primary">مشروع مركب واحدة</h1>
                            <p class="lead p3">تطوير لمسيرة بدأتها صناع الحياة عام 2011، بالعمل على خفض معدلات الفقر.
                                 نساعد الأسر شديدة الفقر على تحقيق الاستقلال الاقتصادي وتجاوز خط الفقر؛ نوفر لهم: “مشروعات متناهية الصغر”، الاحتياجات الأساسية، خدمات الرعاية الصحية…</p>
                            <button type="button" class="btn btn-primary hvr-bounce-to-right"> <i class="far fa-newspaper"></i> Detailes</button>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="main">
                            <img src="img/projects/p4.png" class="img-responsive" title="مشروع دفا" alt="مشروع دفا" />
                            <h1 class="text-primary">مشروع دفا</h1>
                            <p class="lead p4">خلال فصل الشتاء تصل درجة الحرارة إلى 7 درجات مئوية، تعاني الأسر وخاصة من يعيشون داخل منازل بدون أسقف، البرد والمطر.
                                    نعمل على مساعدة آلاف المتضررين؛ قمنا بتوزيع 8554 لحافًا، بناء 653 سقفًا خلال عام 2018.</p>
                            <button type="button" class="btn btn-primary hvr-bounce-to-right" > <i class="far fa-newspaper"></i> Detailes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Section Projects -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
    </body>
</html>