body
{
    overflow-x: hidden;
}
/* Start NavBar */
    .navbar-inverse
    {
        position: relative;
    }
    .container-fluid , .navbar-brand
    {
        font-size: 21px;
    }
    .navbar-brand
    {
        line-height: 20px;
        font-weight: bold;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover, 
    .navbar-inverse .navbar-nav > .active > a:focus , 
    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a:focus ,
    .navbar-inverse .navbar-nav > li > a ,
    .dropdown-menu > li > a
    {
        /*color: #ec6565;*/
        color:#eaec65;
    }

    .logo 
    {
        -webkit-transition: all .5s ease;  
        -moz-transition:all .5s ease;    
        -o-transition: all .5s ease;     
        transition: all .5s ease;
        width: 50px;
        height: 46px;
        position: absolute;
        left: 52px;
        top: 2px;
        border-radius: 50px;
        border: 2px solid #6c69bd;
        opacity: .5;
    }
    .img-responsive:hover 
    {
        opacity: 1;
    }

    .navbar-nav
    {
        margin-left: 65px;
        margin-right: -227px;
    }
    .nav > li 
    {
        margin-right: 92px;
    }
    .navbar-nav > li > .dropdown-menu
    {
        margin-top: 1px;
    }
    .dropdown-menu > li > a
    {
        padding: 8px 25px;
        font-weight: bold;
        font-size: large;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus
    {
        -webkit-transition: all .5s ease-in;  
        -moz-transition:all .5s ease-in;    
        -o-transition: all .5s ease-in;       
        transition: all .5s ease-in;
        background-color: #ec6565;
        color: white;
        padding: 10px 15px;
    }
    .glyphicon-chevron-left:before,
    .glyphicon-chevron-right:before
    {
        color: #ff0500;
    }
/*End NavBar*/

/* font awesome*/
.fas, .fab, .far
{
    color: white;
}
.dropdown-menu
{
    background-color: #222;
}
.concepts .back1 .fas, .far
{
    font-size: 20px;
}
/* --------------------------------------- */
/* Start Carousel */
.caro-life .carousel
{
    margin-top: -20px;
}
.caro-life .carousel-inner ,
.carousel .carousel-inner .item img
{
    height: 572px;
}
.caro-life .carousel .carousel-inner .item img
{
    width: 100%;
}
.caro-life .carousel-caption
{
    right: 20%;
    left: 3%;
    padding-bottom: 20px;
    margin-bottom: 77px;
    font-family: cursive;
    font-weight: bold;
    font-size: 65px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    width: 94%;
}
.caro-life .carousel-indicators li 
{
    width: 22px;
    height: 22px;
}
.caro-life .carousel-indicators .active
{
    width: 22px;
    height: 22px;
    margin: 1px;
    background-color: red;
}

.caro-life .carousel-indicators li
{
    width: 10px;
    height: 10px;
    margin: 2px;
    padding: 7px;
    border: 3px solid #fff;
    -webkit-transition: all 500ms;
    -moz-transition: all ease-in .5s;
     -o-transition: all ease-in .5s;
    transition: all ease-in .3s;
}
.caro-life .carousel-indicators
{
    position: absolute;
    bottom: 10px;
    left: 80%;
}
.caro-life .carousel-indicators li:not(.active):hover
{
    background-color: white;
}
/* End Carousel */
/* Start Thumbnail */
.un-ramadan
{
    position: fixed;
    width: 140px;
    top: 62px;
    right: 5px;
    z-index: 999;
}
.un-ramadan:hover
{
    border: 2px solid red
}
/* End Thumbnail */
/* Start Section 1*/
.section1
{
    background: url("../img/lifemaker.jpg") center center / cover;
    background-attachment: fixed;
}
section .back
{
    background-color: rgba(0,0,0,0.6);
}
.section1 ,
section .back
{
    height: 624px;
}

.section1 .back .container .row  div > div
{
    background-color: rgba(255, 255, 255, .1);
    height: 400px;
    color: beige;
    border: 2px solid brown;
    border-radius: 80px;
    margin-top: 125px;
}/*
.section1 .back .container .row  div img
{
    margin: 48px 100px 21px;
    font-size: 55px;
    color: brown;
}*/
.section1 .back .container .row  .head
{
    margin-left: 0px;
    font-size: 20px;
    font-family: cursive;
    color: darkgreen;
    background-color: burlywood;
    padding-left: 24px;
}
.section1 .back .container .row  .para
{
    direction: rtl;
    font-size: 16px;
    font-family: inherit;
    padding: 13px 21px;
    line-height: 27px;
    font-weight: bold;
    color: unset;
    direction: rtl;
}
.section1 .back .container .row  .btn
{
    margin: -7px 0px 0px 70px;
}
.section1 .back .container .row  aside
{
    margin: 21px 0px 25px 83px;
    border-radius: 50px;
}
.section1 .back .container .row  aside img
{
    border-radius: 50px;
    width: 90px;
    height: 84px;
    opacity: .7;
    -webkit-transition: all 500ms;
    -moz-transition: all ease-in .5s;
     -o-transition: all ease-in .5s;
    transition: all ease-in .5s;
    border: 2px dotted white;
}
.section1 .back .container .row  aside img:hover
{
    opacity: 1;
    border: 2px solid white;
}    
/* End Section 1*/
/* Start Section 2*/
.section2
{
    height: 450px;
    background-color: #e9791e;
}
.section2 .head
{
    font-size: 80px;
    color: white;
    margin: 70px 0px 32px;
}
.section2 .lead
{
    font-size: 33px;
    color: white;
    font-family: cursive;
    direction: rtl;
}
/* End Section 2*/
/* Start carousel charcter*/
.charcter .carousel-inner ,
.charcter
{
    background-color: #ccc;
    height: 415px;
}
.charcter .carousel-indicators li
{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
    opacity: .5;
    -webkit-transition: all .3s ease;  
    -moz-transition:all .3s ease;    
    -o-transition: all .3s ease;     
    transition: all .3s ease;
}
.charcter .carousel-indicators .active 
{
    width: 90px;
    height: 90px;
    background-color: #ccc;
    opacity: 1;
}
.charcter .img-responsive
{
    height: 89px;
}
.charcter .char ,
.charcter .charname
{
    background-color: blanchedalmond;
    width: 800px;
    margin: 50px auto;
    border-radius: 20px;
    direction: rtl;
    font-size: 38px;
    line-height: 2em;
    -webkit-box-shadow: 5px 6px 20px 0px;
    -moz-box-shadow: 5px 6px 20px 0px;
    -o-box-shadow: 5px 6px 20px 0px;
    box-shadow: 5px 6px 20px 0px;
}
.charcter .charname
{
    width: 500px;
    background-color: brown;
    color: white;
}
/* End carousel charcter*/
/* Start feature */
.feature img
{
    margin: 100px auto;
}
/* End feature */
/* Start Section3 */
    .section3 img
    {
        height: 650px;
        width: 100%;
    }
/* End Section3*/
/* Start Section 4 (Message)*/
.message .row
{
    background-color: #ebebeb;
}
.message img
{
    display: inline-block;
    margin-bottom: 84px;
}
.message img.one
{
    width: 51%;
    margin-top: 177px;
}
.message img.two
{
    height: 683px;
    width: 662px;
    margin-left: -4px;
}
.message
{
    font-size: 59px;
    font-family: fantasy;
    color: brown;
}
/* End Section 4 (Message)*/

/*Start section achievenents*/
.achieve
{
    background: url(../img/brojectback.jpg) center center / cover;
    background-attachment: fixed;
}
.achieve p
{
    font-weight: 900;
    line-height: 32px;
    color: brown;
    direction: rtl;
}
.achieve .fas
{
    color: brown;
    font-size: 14px;
    margin-left: 8px;
}
.achieve .head
{
    margin-top: 45px;
    font-size: 50px;
}
/*End section achievenents*/
/* Start Section Projects */
.projects 
{
    background: url(../img/back5.jpg) center center / cover;
    background-attachment: fixed;
}
.projects .main
{
    background-color: aliceblue;
    padding: 4px;
    margin: 30px 0px;
    direction: rtl;
    position: relative;
    height: 100%
}

.projects .main img
{
    border-radius: 10px;
    opacity: .8;
    -webkit-transition: all .5s ease;  
    -moz-transition:all .5s ease;    
    -o-transition: all .5s ease;     
    transition: all .5s ease;
    border: 2px solid white;
}
.projects .head
{
    font-size: 63px;
    font-weight: bold;
    background-color: #965b1d;
    color: #f5f6f9;
        width: 404px;
    border-radius: 12px;
    margin: 31px auto;
    -webkit-transition: all .5s ease;  
    -moz-transition:all .5s ease;    
    -o-transition: all .5s ease;     
    transition: all .5s ease;
    -webkit-box-shadow: -2px 1px 20px 12px;
    -moz-box-shadow: -2px 1px 20px 12px;
    -o-box-shadow: -2px 1px 20px 12px;
    box-shadow: -2px 1px 20px 12px;
}
.projects .head:hover
{
    -webkit-box-shadow: -2px 1px 20px 20px;
    -moz-box-shadow: -2px 1px 20px 20px;
    -o-box-shadow: -2px 1px 20px 20px;
    box-shadow: -2px 1px 20px 20px;
}
.projects .main img:hover
{
    opacity: 1;
    border: 2px solid brown;
}
.projects .main h1
{
    height: 105px;
    font-family: cursive;
    font-weight: 900;
    color: #0a2c4a;
    line-height: 1.29em;
    word-spacing: 1px;
}
.projects .lead 
{
    font-size: 23px;
    width: 228px;
    color: #23537b;
    font-weight: bold;
    font-family: serif;
    margin-right: 13px;
}

.projects button
{
    font-size: 20px;
}
/* End Section Projects*/